body {
    text-shadow: none;
}

.newsDetail {
    margin: 90px auto;
    width: 960px;
    min-height: 100%;
    height: auto;
    padding: 60px 80px;
    color: rgba(0, 0, 0, 0.8);
    background: rgba(0, 0, 0, 0.05);
}

.newsDetail {
    color: rgba(0, 0, 0, 0.80);
    font-weight: 100;
}

.newsDetail .dateDetail {
    display: block;
}

.newsDetail .title {
    font-weight: 400;
    font-size: 30px;
    line-height: 200%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 200%;
    color: rgba(0, 0, 0, 0.80);
}

.newsDetail p {
    text-indent: 2em;
    line-height: 160%;
    padding: 10px 0;
}

.newsDetail img {
    display: block;
    position: relative;
    margin: 30px auto;
    min-width: 400px;
    min-height: 400px;
    max-width: 800px;
    max-height: 640px;

}