
.section1 {
    background-image: url("../img/banner1.jpg");
}

.section2 {
    background-image: url("../img/banner2.jpg");
}

.section3 {
    background-image: url("../img/banner3.jpg");
}

.section4 {
    background-image: url("../img/banner4.jpg");
}

.section5 {
    background-image: url("../img/banner5.jpg");
}

.section6 {
    background-image: url("../img/banner6.jpg");
}

.section7 {
    background-image: url("../img/banner7.jpg");
}


.sec2Info {
    width: 800px;
    height: 360px;
    margin: 50px auto;
    background: rgba(25, 207, 132, 0.6);
}

.sec2Info::before {
    content: "";
    display: inline-block;
    width: 776px;
    height: 336px;
    margin: 10px;
    border:2px solid white;
}

.banner2-1 {
    position: relative;
    width: 230px;
    height: 480px;
    margin-top: -420px;
    margin-left: 50px;
}

.sec2Title {
    position: relative;
    left: 120px;
    font-size: 36px;
    top: -370px;
    text-align: center;
    color:hsla(0,0%,100%,.8);
}

.sec2Content {
    position: relative;
    left: 120px;
    font-size: 24px;
    top: -320px;
    line-height: 200%;
    text-align: center;
    color:hsla(0,0%,100%,.8);
}

.sec3Title {
    margin-top: -40px;
    color:hsla(0,0%,100%,.8);
    text-align: center;
    line-height: 50px;
    font-size: 50px;
    font-weight: 200;
}

.sec3Content {
    margin-top: 40px;
    text-align: center;
    font-size: 32px;
    font-weight: 100;
    color: hsla(0,0%,100%,.8);

}

.sec3Title::before {
     content: "";
     display: inline-block;
     position: relative;
     width: 100px;
     height: 1px;
     top: -16px;
     left: -8px;
     background: hsla(0,0%,100%,.9);
}

.sec3Title::after {
    content: "";
    display: inline-block;
    position: relative;
    width: 100px;
    height: 1px;
    top: -16px;
    left: 8px;
    background: hsla(0,0%,100%,.9);
}

.sec4Info {
    width:46.7%;
    height: 100%;
    text-shadow: none;
}

.sec5Info {
    width:46.7%;
    height: 100%;
    margin-left: 53.3%;
    text-shadow: none;
}


.banner4-1, .banner5-1 {
    display: block;
    position: relative;
    margin: 0 auto;
    top: 20%;
    width: 150px;
    height: 150px;
}

.sec4Title, .sec5Title{
    position: relative;
    font-size: 42px;
    font-weight: 100;
    line-height: 42px;
    text-align: center;
    margin-top: 27%;
    color: hsla(2, 100%, 50%, 0.6);
}

.sec4Content, .sec5Content {
    font-size: 24px;
    line-height: 180%;
    text-align: center;
    font-weight: 100;
    margin-top: 30px;
    color: rgba(0,0,0,0.6);
}

.sec6Info {
    width: 680px;
    height: 320px;
    margin: 0 auto;
    border: 1px solid white;
}

.sec6Info::before {
    content: "";
    display: inline-block;
    width: 660px;
    height: 300px;
    margin: 10px;
    background: linear-gradient(rgb(217, 250, 219) 70%, rgb(255, 255, 255) 30%);
    background-size: 100% 36px;
}


.banner6-1 {
    display: block;
    width: 100x;
    height: 80px;
    margin: 0 auto;
    margin-top: -300px;
}

.sec6Title {
    text-align: center;
    font-size: 42px;
    font-weight: 100;
    color: rgba(0,0,0,0.6);
    margin-top: -5px;
    text-shadow: none;
}
.sec6Content {
    text-align: center;
    font-size: 24px;
    font-weight: 100;
    margin-top: 10px;
    color: rgba(0,0,0,0.6);
    text-shadow: none;
}

.section7 .content {
    width: 700px;
    height: 400px;
    margin: 0 auto;
}

.section7 .qrCode {
    width: 260px;
    height: 260px;
    display: block;
    margin-top: 80px;
    margin-bottom: 40px;
}

.section7 .sec7Left {
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    text-shadow: none;
    font-size: 24px;
    font-weight: 300;
}

.section7 .sec7Right {
    display: inline-block;
    float: right;
    margin-right: 10px;
    text-align: center;
    text-shadow: none;
    font-size: 24px;
    font-weight: 300;
}

.purchaseProcess {
    display: block;
    height: 120px;
    width: 1120px;
    margin: 0 auto;
    padding: 30px 0;
}

.process {
    box-sizing: border-box;
    display: inline-block;
    float: left;
    padding: 0 20px;
    width: 25%;
    height: 100px;
    color: rgba(0,0,0,0.8);
    text-shadow: none;
    
}

.logoPic {
    width: 28px;
    height: 28px;
    display: inline-block;
    margin-right: 6px;
}

.item, .receipt {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    color: rgba(0,0,0,0.8);
    top: -3px;
}

.item::after {
    content: "";
    display: inline-block;
    position: relative;
    float: right;
    background: rgba(0,0,0,0.8);
    width: 100px;
    height: 1px;
    top: 8px;
    left: 20px;
}

.process .info {
    font-size: 18px;
    margin-top: 20px;
}


