body {
    text-shadow: none;
}

.section1 {
    /*background-image: url("../img/banner9.png");*/
}

.newsContent {
    height: auto;
    width: 1200px;
    min-height: 100%;
    margin: 0 auto;
    /*background: rgba(25, 207, 132, 0.38);*/
}

.newsContent .title {
    font-size: 32px;
    font-weight: 100;
    text-align: center;
    padding-top: 100px;
}

.newsContent .title::before {
    content: "";
    display: inline-block;
    position: relative;
    width: 120px;
    height: 1px;
    top: -16px;
    left: -8px;
    background: rgba(0, 0, 0, 0.6);
}

.newsContent .title:after {
    content: "";
    display: inline-block;
    position: relative;
    width: 120px;
    height: 1px;
    top: -16px;
    left: 8px;
    background: rgba(0, 0, 0, 0.6);
}

.newsList .article {
    width: 1000px;
    height: 330px;
    display: block;
    margin: 60px auto;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.05);
    transition: 0.3s all cubic-bezier(0.680, 0.055, 0.450, 0.940);
    border-radius: 2px;
}

.newsList .article:hover {
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.2);
}


.coverImg {
    width: 440px;
    height: 330px;
    display: inline-block;
}

.dateAT {
    margin-left: 465px;
    margin-top: -320px;
    width: 500px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
}

.titleAT {
    margin-left: 460px;
    font-size: 22px;
    font-weight: 300;
    line-height: 250%;
    color: rgba(0, 0, 0, 1.0);
}

.contentAT {
    margin-left: 460px;
    margin-top: 16px;
    text-indent: 40px;
    font-weight: 100;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.8);
    padding-right: 20px;
}

.expand {
    color: rgba(25,207,132,0.83);
    text-decoration: none;
}
